.filter-box{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:65px;
    width:100%;
    background-color: $palegreen;
    opacity:50%;
}
    
    .filter-icon{
    height:25px;
    width:25px;
    margin:1% 0 0 2%;
    }

    .filter-button{  
    height:25px;
    background-color: $creme-page;
    padding:10px;
    box-shadow: 1px 2px $darkblue;
    border-radius: 20%;
    text-decoration: none;
    }

    .filter-text{
   font-size:23px;
   color:$darkblue;
    }
    
@media only screen and (max-width: 568px){
   .filter-box{
    margin-top: -4px;
    height:70px;
    width:100%;
    flex-wrap: wrap;
   }

   .filter-button{  
    height:15px;
    padding:5px;
    }

    .filter-text{
   font-size:15px;
    }

   .filter-icon{
    height:15px;
    width:15px;
    margin:0 2% 2% 2%;
   }

}