    

  
.footer {
    position: relative;
    display: flex;
    background-color: #ccffcc;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: solid 1px #b3ffb3;
}
 .footer__icon {
    height: 40px;
    width: 40px;
}
   
  
@media only screen and (max-width: 568px) {
  
    .footer {
      height: 55px;
    }
    .footer__icon {
      height: 25px;
      width: 25px;
    }
}