
.navigation {
    display: inline-flex;
    background-color:$palegreen;
    height: 100px;
    width: 100%;
    border-bottom: solid 1px #b3ffb3;
    align-items: center;
    justify-content: space-around;
  }
  
  .navigation__company_logo {
    height: 100px;
    width: 150px;
  }
  
  
  .navigation__icon {
    height: 40px;
    width: 40px;
  }
  
  .navigation__options {
    list-style-type: none;
    font-size: 25px;
  }
  
  .navigation__options--hamburger {
    list-style-type: none;
    display:none;
  }
  
  .navigation__items {
    color: $darkblue;
    font-family: $font-family;
    text-decoration: none;
  }
  .navigation__icon--hamburger{
    color: $darkblue;
    font-family: $font-family;
    text-decoration: none;
    height:60px;
    width:50px;
    display:none;
  }
  .navigation__items:hover {
    color: $creme-page;
    background-color: $darkblue;
    padding: 15px;
    border-radius: 10%;
  }
  .active {
    color:$darkblue;
    background-color:$creme-page;
    padding: 15px;
    border-radius: 10%;
    box-shadow: -2px -2px $darkblue;
  }
  
  /*side navigation*/
  .side_navigation_mobile {
    display: none;
    flex-direction: column;
    line-height: 50px;
    align-items: center;
    border-right: solid 1px $darkblue;
    position: fixed;
    background-color:$creme-page;
    height: 100vh;
    width: 8rem;
    overflow: hidden;
    z-index: 1;
    animation-name:slide_to_the_left;
    animation-duration:1s;
  }
  
  @keyframes slide_to_the_left{
    from {left:-100px}
  
    to {left:0px}
  }
  .side_navigation_mobile__options {
    position: relative;
    font-family: $font-family;
    color: $darkblue;
    z-index: 6;
    list-style-type: none;
    padding: 10px;
  }
  .side_navigation_mobile__options__current {
    padding: 0px 35px 19px 35px;
    border-radius: 10px;
    height: 25px;
    background: #b3ffb3;
    color: $darkblue;
  }
  
  .x{
  display: none; 
  }
  
  @media only screen and (max-width: 568px) {
    
    .navigation__options {
      display: none;
    }
  
    .navigation{
      justify-content: right;
      height:70px;
    }
  
    .navigation__options--hamburger {
      display:block;
    }
  
    .navigation__company_logo {
      height: 40px;
      width: 80px;
    }
    .navigation__icon {
      display:none;
    }
  
    .navigation__icon--hamburger{
      display: block;
    }
  
  
}