.contacts{
    border:dotted 10px #f0006c;
    width:600px;
   display: flex;
   margin: 0px auto;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #ffc3bf;
   padding: 15px;

}

.body{
    background-color:#ffd699;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:white;
    text-shadow: 1px 2px black;
}

