.slideshow{
    display:grid;
    grid-template-rows: 600px 70px;
    grid-template-columns: 5% 90% 5%;

}
.arrow{
    color:$creme-page;
    background-color:$cafe;
    font-size: 70px;
}

.bottom_slideshow{
    background-color:$cafe;
    grid-column:1/4;
    display: flex;
    justify-content: center;
    align-items: center;

    .dots{
        background-image: radial-gradient($creme-page 20%,$cafe 20%);
        height:20px;
        width:20px;

        &_current{
            background-image: radial-gradient($creme-page 40%,$cafe 20%);
        }
    }
}
.image{
    height:600px;
    width: 100%;
}

@media only screen and (max-device-width: 568px){

    .slideshow{
        display:grid;
        grid-template-rows: 250px 40px;
        grid-template-columns: 10% 80% 10%;
    }

    .arrow{
        font-size: 30px;
    }
    .image{
        height: 250px;
    }
}