  
* {
  padding: 0;
  margin: 0;
  font-family: Merriweather, Arial, sans-serif;
}

.background_color {
  background-color: #ffffe6;
}

/* navigation */

.navigation {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #ccffcc;
  height: 100px;
  width: 100%;
  border-bottom: solid 1px #b3ffb3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation__company_logo {
  height: 100px;
  width: 150px;
}


.navigation__icon {
  height: 40px;
  width: 40px;
}

.navigation__options {
  list-style-type: none;
  font-size: 25px;
}

.navigation__options--hamburger {
  list-style-type: none;
  display:none;
}

.navigation__items {
  color: #000066;
  font-family: Merriweather, Arial, sans-serif;
  text-decoration: none;
}
.navigation__icon--hamburger{
  color: #000066;
  font-family: Merriweather, Arial, sans-serif;
  text-decoration: none;
  height:60px;
  width:50px;
  display:none;
}
.navigation__items:hover {
  color: #ffffe6;
  background-color: #000066;
  padding: 15px;
  border-radius: 10%;
}
.active {
  color:#000066;
  background-color: #f1ffc9;
  padding: 15px;
  border-radius: 10%;
  -webkit-box-shadow: -2px -2px #000066;
          box-shadow: -2px -2px #000066;
}

/*side navigation*/
.side_navigation_mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: solid 1px #000066;
  position: fixed;
  background-color: #f1ffc9;
  height: 100vh;
  width: 8rem;
  overflow: hidden;
  z-index: 1;
  animation-name:slide_to_the_left;
  animation-duration:1s;
}

@keyframes slide_to_the_left{
  from {left:-100px}

  to {left:0px}
}
.side_navigation_mobile__options {
  position: relative;
  font-family: Merriweather, Arial, sans-serif;
  color: #000066;
  z-index: 6;
  list-style-type: none;
  padding: 10px;
}
.side_navigation_mobile__options__current {
  padding: 0px 35px 19px 35px;
  border-radius: 10px;
  height: 25px;
  background: #b3ffb3;
  color: #000066;
}

.x{
display: none; 
}




/*Footer*/

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ccffcc;
  height: 100px;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 1px #b3ffb3;
}
.footer__icon {
  height: 40px;
  width: 40px;
}
 

  /*THE PRODUCT AKA BOOKS STYLING THIS IS APPLIED TO PRODUCTS PAGE AND INDEX*/


  .products{
    border: 1px solid #000066;
    border-bottom: none;
  }
  .products__images {
    height: 150px;
    width: 125px;
    margin: 6% 0 4% 0%;
    border: solid 1px #000066;
  }
  .products__title {
    font-size: 20px;
    margin: 2%;
    color: #000066;
    
  }
  .products__paragraph {
    font-size: 15px;
    margin: 5% 5% 0 5%;
    color: #000066;
  
  }
  .products__paragraph__price {
    display: block;
    margin-top: 8%;
    font-size: 23px;
  }

  /*This is for desktop, mobile doesn't use this button.*/
  .products__button {
    background-color: #ccffcc;
    border-radius: 10px;
    color: #000066;
    -webkit-box-shadow: 1px 2px #000066;
            box-shadow: 1px 2px #000066;
    font-size: 20px;
    height: 55px;
    width: 150px;
    margin:auto auto 15px auto;
    text-align: center;
  }
/*This is for mobile, because the mobile doesn't use the same grid layout. */
  .products__button--mobile{
    display:none;
    background-color: #ccffcc;
    border-radius: 10px;
    color: #000066;
    -webkit-box-shadow: 1px 2px #000066;
            box-shadow: 1px 2px #000066;
    font-size: 20px;
    height: 55px;
    width: 150px;
    margin:auto auto 15px auto;
    text-align: center;
  }

  .grid__borders{
    border-left:1px solid #000066;
    border-right:1px solid #000066;
  }
  /*products page,*/
  .grid{
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 65vh 10vh 65vh 10vh 65vh 10vh 65vh;
    text-align: center;
  }

  .grid--index{
    justify-content: center;
    display:grid;
    grid-template-rows: 70vh 10vh 70vh 10vh 70vh 10vh;
    text-align: center;
  }

  .grid--9-10{
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 65vh 10vh 65vh 10vh;
    text-align: center;
  }

  .grid--11-12{
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 65vh 10vh 65vh 10vh 65vh 10vh;
    text-align: center;
  }
  .title{
    color:#000066;
    text-align:center;
    margin-top:3%;
    font-size:55px;
}

@media only screen and (min-width:569px) and (max-width: 1500px) and (orientation:landscape){
  .products__title{
    font-size: 23px;
  }
  .products__paragraph{
    font-size: 20px;
  }

  .grid{
    grid-template-rows: 75vh 10vh 75vh 10vh 75vh 10vh;
  }

  .products__paragraph__price{
    font-size: 20px;
  }
 
  .title {
    margin-top: 5%;
    font-size: 40px;
  }

}
/*TABLET POTRAIT nav w/ shopping cart and name of site*/
@media only screen and (min-width:569px) and (max-width: 1119px) and (orientation:portrait){
 
  .products__title{
    font-size: 25px;
  }
  .products__paragraph{
    font-size: 20px;
  }

  .products__paragraph__price{
    font-size: 28px;
  }
 
  .grid{
    grid-template-rows: 75vh 10vh 75vh 10vh 75vh 10vh;
  }
  .title {
    margin-top: 5%;
    font-size: 40px;
  }

}
/*# sourceMappingURL=general.css.map */



/*Mobile nav w/ shopping cart and name of site*/
@media only screen and (max-width: 568px) {
  
  .navigation__options {
    display: none;
  }

  .navigation{
    justify-content: right;
    height:70px;
  }

  .navigation__options--hamburger {
    display:block;
  }

  .navigation__company_logo {
    height: 40px;
    width: 80px;
  }
  .navigation__icon {
    display:none;
  }

  .navigation__icon--hamburger{
    display: block;
  }

  .footer {
    height: 55px;
  }
  .footer__icon {
    height: 25px;
    width: 25px;
  }
  
.grid{
  display:block;
}

.grid--index{
  display: block;
}
.grid--9-10{
display: block;
}

.grid--11-12{
  display:block;
}
.grid__borders{
display:none;
}
  .products {
    width: 100%;
    border: none;
    border-bottom: solid 1px #000066;
    margin-top: 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .products__button--mobile{
    display:block;
  }
  
  .products__images {
    position: relative;
    height: 40%;
    width: 175px;
    margin: 3% 0 3% 1%;
   
  }
  .products__title {
    font-size: 20px;
    margin: 2%;
  }
  .products__paragraph {
    font-size: 15px;
    margin: 2%;
   
  }
  .products__paragraph__price {
    display: block;
    margin-top: 4%;
    font-size: 17px;
  }
  .products__button {
    display: none;
  }
  .title {
    margin-top: 5%;
    font-size: 25px;
  }
}


@media only screen and (min-width: 568px) and (max-width:749px) and (orientation: landscape) {
  
  .grid{
    grid-template-rows: auto;
  }

  .grid--index{
    grid-template-rows: auto;

  }
  .title {
    margin-top: 5%;
    font-size: 25px;
  }
}
/*# sourceMappingURL=general.css.map */