$palegreen:#ccffcc;
$light-lime:#f1ffc9;
$mint:#b3ffb3;
$font-family: Merriweather, Arial, sans-serif;
$darkblue:#000066;
$creme-page:#ffffe6;
$border1px: solid 1px;

*{
    padding:0;
    margin:0;
}


.slideshow{
  height:500px;
  width:100%;
}

.image--active{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
        
    
    
    
       
        .image{
        position:relative;
            height:500px;
            width:100vw;
            display:block;
            z-index:-1;
    
          
            &__text{
                font-size:55px;
                position:absolute;
                color:$darkblue;
                
    
            }
        }
    }
        
        .image--next{
            display:none;
        }
        .image--previous{
            display:none;
        }

.arrow{
    padding: 0 10px;
    height:500px;
    color:white;
    font-size: 45px;
    line-height:35vh;
    opacity:60%;
    background-color: $darkblue;
    margin-left:-1px;
}



.image__numbertext{
    position:absolute;
    color:white;
    opacity:60%;
    background-color: $darkblue;
    width:100%;
    text-align: center;
    bottom:0;

}

@media only screen and (max-width: 568px){

    .arrow{
        display:none;
    }

   

    .slideshow{
        height:300px;
    }
    
     
    .image--active{
display:flex;
justify-content: center;
align-items: center;
    
  

.image{
    height:250px;
    width:100vw;




        &__numbertext{
            display:none;
        }
        &__text{
            font-size:35px;
            position:absolute;
            color:$darkblue;
            

        }
    }
}
    
    .image--next{
        display:none;
    }
    .image--previous{
        display:none;
    }
}

@media only screen and (min-width: 750px)and (orientation:portrait){

    .arrow{
        display:none;
    }

    .slideshow{
        height:600px;
    }
    
     
    .image--active{
display:flex;
justify-content: center;
align-items: center;
    
  

.image{
    height:550px;
    width:100vw;
        &__numbertext{
            display:none;
        }
        &__text{
            font-size:55px;
            position:absolute;
            color:$darkblue;
            

        }
    }
}
    
    .image--next{
        display:none;
    }
    .image--previous{
        display:none;
    }
    }



@media only screen and (min-width: 750px) and (max-width: 900px ) and (orientation:landscape){

    .arrow{
        display:none;
    }
}