$clover:#abffb9;
$light-lime:#f1ffc9;
$mint:#e1fc90;
$font-family: Merriweather, Arial, sans-serif;
$darkblue:#000066;
$creme-page:#ffffe6;
$border1px: solid 1px;

*{
    padding:0;
    margin:0;
}

.flexbox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    border-radius: 20%;
    margin:35px 13% 40px 13%; 
    border: 2px solid $clover;
    background-color: $light-lime;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.message{
    color:$darkblue;
    text-align:center;
    margin-top:3%;
    font-size: 20px;
}

.label{
    margin: 1.5%;
    display:block;
    color:$darkblue;
    font-size: 20px;
    text-align: center;
}

.input-text{
    height:50px;
    font-size:25px;
    width:50%;
    background-color: transparent;
    border:none;
    border: $border1px $darkblue;
    border-radius:20% ;
}

.textarea{
    resize:none;
    display:block;
    height:15vh;
    width:50vw;
    margin:0 7% 0 7%;
    border: $border1px $darkblue;
    background-color:$creme-page;
    font-size: 25px;
    border-bottom-left-radius: 30px ;
    border-bottom-right-radius: 30px ;
}

.button{
    background-color:$clover;
    border-radius: 30px ;
    color:$darkblue;
    font-size:25px;
    margin:5% 39% 5% 39%;
    padding:30px;
    border: 1px solid $mint;
}



@media only screen and (min-width: 569px) and (max-width:999px){
    
    .message{
        margin-top:5%;
        font-size: 15px;
    }
    
    .label{
        margin: 2%;
    }
    
}
    


/*Contact Mobile*/
@media only screen and (max-width: 568px) and (orientation: portrait){

   .container{
       background-color: $creme-page;
       border: none;
   }
 
.message{
    margin-top:5%;
    font-size: 15px;
}

.label{
    margin: 3%;
    display:block;
    color:$darkblue;
    font-size: 15px;
    text-align: center;
}

.input-text{
    margin: 2%;
    width:95%;
    border:none;
    border-bottom: $border1px $darkblue;
}

.textarea{
    height:20vh;
    font-size:14px;
    width:85vw;
    margin:0 7% 0 7%;
    background-color: white;
}

 .button{
        font-size:15px;
        padding:10px 15px 10px 15px;
    }


}

