    
.footer{
  display: grid;
 align-items: center;
 text-align: center;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 80px 20px;
  width:100%;
  height:110px;
  background-color:$clover;

  &__icon {
      height: 40px;
      width: 40px;
  }

  &__copyright{
      color: $darkblue;
      font-size: 15px;
      grid-column: 1/4;
  }
}

  
@media only screen and (max-width: 568px) {

    .footer__icon {
      height: 35px;
      width: 35px;
    }
}